.admin-sag-container{
    width: calc(100% - 300px);
    margin-left: 300px;
    color: #000;
    padding: 2% 1%;
}


.site-icerik-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5%;
    border-radius: 20px;
    margin-top: 30px;
    overflow: hidden;
    overflow-y: visible;
  }

.site-icerik-shadow2{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3%;
  border-radius: 20px;
  margin-top: 30px;
}

.site-icerik-sayilari-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.scroll-table{
  max-height: 1200px;
  overflow: hidden;
  overflow-y: visible;
}
.scroll-table2{
  max-height: 500px;
  overflow: hidden;
  overflow-y: visible;
}
.sliderlar-card{
  align-items: center;
}

.slider-edit-sil-btn{
  width: 70px;
  background: red;
  border: 0;
  padding: 30%;
  border-radius: 50px;
}

.alt-basliklar-admin{
    font-size: 24px;
    font-weight: 600;
}

.sayfa-icerikleri-flex{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 2%;
}

.en-cok-row{
    row-gap: 30px;
    justify-content: center;
}

.en-cok-card{
    padding: 2%;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    transition: .6s;

}

.en-cok-card:hover{
    background: #999999;
    color: #fff;
    transition: .6s;
}

.tumunu-gor-btn-admin{
    border: 2px solid #03346E;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    background: #03346E;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    transition: .6s;

}

.tumunu-gor-btn-admin:hover{
    border: 2px solid #03346E;
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    transition: .6s;

}

.en-cok-urunler-admin{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 20px;
}

.en-cok-urunler-admin>p{
    margin: 0;
}

.finansal-bakis-anasayfa-admin{
    font-size: 16px;
    font-weight: 600;
}



/* admin kullanıcılar */


.admin-user-card{
    box-shadow: rgba(0, 4, 255, 0.35) 0px 5px 15px;
    padding: 5%;
    text-align: center;
    row-gap: 20px;
}

.user-card-isim{
    border-bottom:1px solid #000;
    line-height: 40px;
}

.user-duzenle-row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;    
}

.user-edit-btn{
    border: 0;
    background: orange;
    padding: 5px 30px;
    font-size: 20px;
    color: #fff;
}
.user-sil-btn{
    border: 0;
    background: red;
    padding: 5px 30px;
    font-size: 20px;
    color: #fff;
}

.pagination{
        display: flex;
        flex-direction: row;
        justify-content: center;
}

.page-link{
    color: #000;
}

.page-link:hover {
    background: #b9b9b9;
    color: #000;
}

.page-link:focus {
    box-shadow: none;
    color: #000;
    background: #fff;
}

/* admin urunler */


.urunler-listesi-img{
    width: 150px;
}

.stok-flex{
    display: flex;
    flex-direction: column;
}

.admin-search-inp{
    width: 600px;
    padding-left: 1%;
    border-radius: 20px;
}



.stok-giris-inp>input{
  width: 60px;
}

.stoklar-card-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.stok-card{
  border: 1px solid #000;
  height: fit-content;
  padding: 10px 20px;
}






.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popup-header h2 {
    margin: 0;
  }
  
  .popup-close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .popup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .popup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .popup-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  .popup-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-form button:hover {
    background-color: #0056b3;
  }
  
  .image-preview{
    width: 50px;
  }

  .siparis-durumu-btn{
    border: 0;
    background: #000;
    color: #fff;
    padding: 5px 30px;
  }

  .admin-mesajlar-mesaj{
    max-width: 500px;
  }

  #admin-mesaj-cevap{
    resize: none;
  }

  .indirim-uygula-flex{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .indirim-uygula-flex>input{
    width: 50px;
    margin-right: 5px;
  }


  #imagePreview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#imagePreview img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}


.fotograf-gonder{
  background: #000;
  border: 2px solid #000;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  transition: .4s;
}

.fotograf-gonder:hover{
  background: #fff;
  color: #000;
  transition: .4s;

}

.resim-preview-card-parent{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
}

.resim-preview-card{
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
  height: 150px;
  position: relative;
}

.resim-sil-btn{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.degisiklikleri-kaydet-btn{
  background: #000;
  color: #fff;
  border: 2px solid #000;
  padding: 10px 30px;
  border-radius: 10px;
  transition: .4s;

}
.degisiklikleri-kaydet-btn:hover{
  background: #fff;
  color: #000;
  transition: .4s;
}

.preview-flex{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.preview-flex-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-flex-child>img{
  max-width: 200px;
}

  /* kategoriler-detay */

.kategori-adi-detay-inp{
  width: 100%;
  height: 40px;
  padding-left: 1%;
  border: 0;
  border-bottom: 1px solid #000;
}

.kategori-adi-detay-inp:focus-visible{
outline: none;
}

.kategori-detay-row{
  row-gap: 20px;
}

#kategori-duzenle-detay-select{
  height: 40px;
  width: 200px;
}


.guncelle-btn{
  border: 2px solid #000;
  background: #000;
  color: #fff;
  padding:10px 30px;
  width: 30%;
  border-radius: 10px;
  transition: .4s;
}

.guncelle-btn:hover{
  background: #fff;
  color: #000;
  transition: .4s;
}

/* raporlar */

.rapor-card{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  min-height: 400px;
  border-radius: 20px;
  padding: 5%;
}

.rapor-card-baslik{
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #818181;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
}


.stok-ekle-btn{
  background-color: #000;
  color: #fff;
  padding: 10px 0px;
  border-radius: 10px;
}


/* admin-sayfalar-extra */


.kategori-card-admin-sayfalar{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  row-gap: 10px;
  padding: 3%;
  border-radius: 20px;
  overflow: hidden;
}


.kategori-card-admin-sayfalar-img{
  object-fit: cover;
  height: 350px;
}

.kategori-card-admin-sayfalar>p{
  font-size: 20px;
  font-weight: 700;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 800px;
  max-width: 80%;
  padding: 2%;
}

#kart-kategori-select{
  height: 40px;
}

.model-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sayfa-icerikleri-overflow{
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}