.admin-sidebar-parent{
    height: 100%;
    position: fixed;
    width: 300px;
    background: #03346E;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 2% 0%;
    overflow: hidden;
    overflow-y: visible;
}   


.admin-sidebar-links{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    row-gap: 30px;
    width: 100%;
    padding-top: 30px;
}

.admin-sidebar-link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    transition: .4s;
    line-height: 50px;
}

.admin-sidebar-link:hover{
    background: #fff;
    color: #000;
    transition: .4s;
    padding-left: 40px;
    font-size: 24px;
}


.admin-sidebar-logout{
    display: flex;
    flex-direction: row;
    padding: 30px;
    color: #fff;
    font-size: 20px;
    align-items: center;
    column-gap: 5px;
    border: 0;
    background: transparent;
}

.admin-sidebar-logo-part{
    width: 100%;
    height: 100px;
    border: 5px solid #03346E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 60%;
}