.admin-sag-container {
    width: calc(100% - 100px);
    height: calc(100% - 70px);
    position: absolute;
    top: 70px;
    left: 100px;
    color: #000;
    padding: 30px 30px;
    z-index: 1000 !important;
    overflow: hidden;
    overflow-y: visible;
    background: #F5F6FA;
}

.table-responsive {
    background: #FFFFFF !important;
    border-radius: 30px !important;
    padding: 30px;
    margin-top: 30px !important;
}

th {
    background: #F6F6F6 !important;
    font-weight: 600 !important;
}

tr {
    border-bottom: 1px solid #cccccc !important;
}

td {
    font-size: 16px;
    padding: 10px 0;
    height: fit-content;
    border: 0 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background: #FFFFFF !important;
    color: #000000 !important;
}


.site-icerik-shadow {
    margin-top: 30px;
    overflow: hidden;
    overflow-y: visible;
    background: #FFFFFF !important;
}

.site-icerik-shadow2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3%;
    border-radius: 20px;
    margin-top: 30px;
}

.site-icerik-sayilari-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.scroll-table {
    max-height: 1200px;
    overflow: hidden;
    overflow-y: visible;
}

.scroll-table2 {
    max-height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

.sliderlar-card {
    align-items: center;
}

.slider-edit-sil-btn {
    width: 70px;
    background: red;
    border: 0;
    padding: 30%;
    border-radius: 50px;
}

.alt-basliklar-admin {
    font-size: 24px;
    font-weight: 600;
}

.sayfa-icerikleri-flex {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 2%;
}


.tumunu-gor-btn-admin {
    border: 2px solid #742BDE;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    background: #742BDE;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    transition: .6s;
}

.tumunu-gor-btn-admin:hover {
    background: #551da4;
    transition: .6s;

}

/* admin kullanıcılar */

.duzenle-row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.edit-btn {
    border: 0;
    background: orange;
    padding: 5px 30px;
    font-size: 20px;
    color: #fff;
}

.delete-btn {
    border: 0;
    background: red;
    padding: 5px 30px;
    font-size: 20px;
    color: #fff;
}


/* admin urunler */


.product-img {
    width: 150px;
}

.stock-flex {
    display: flex;
    flex-direction: column;
}

.admin-search-inp {
    padding-left: 1%;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #000;
    height: 40px !important;
}

.stocks-card-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

/* popups */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999!important;
}

.popup-content {
    background: white;
    padding: 40px;
    position: relative;
    border-radius: 10px;
    width: 400px;
    max-height: 90%;
    overflow: hidden;
    overflow-y: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2 {
    margin: 0;
}

.popup-close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}


.popup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.messages {
    max-width: 500px;
}


.preview-flex {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    max-width: 100%;
    overflow: hidden;
    margin-top: 30px;
    flex-wrap: wrap;
}

.preview-flex-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.preview-flex-child > img {
    max-width: 200px;
}


/* extra */

.model-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup-inp {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    text-indent: 5px;
}

.add-btn {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 30px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: fit-content;
    background-color: rgba(35, 140, 51, 0.63);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .4s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: .4s;
}

.clock {
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}

.date {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.drop-zone {
    border: 2px dashed #5f77ff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
}

.drop-zone.dragging {
    background-color: #e3e3e3;
    border-color: #000;
}

.file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.answer-message-btn {
    background: #132d70;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}

select {
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    padding: 10px;
    color: #9e9e9e;
}

@media only screen and (max-width: 1000px) {
    .admin-sag-container {
        width: 100% !important;
        left: 0;
    }
}