.admin-bg{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.form-admin{
    background-color: rgba(0, 0, 0, 0.48);
    width: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    color: #FFFFFF;
}

.form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-item>input{
    width: 300px;
    border-radius: 10px;
    padding: 2%;
}

.giris-yap-btn{
    background-color: #00A611;
    width: 300px;
    border: 1px solid #00A611;
    font-size: 20px;
    height: 40px;
    color: #fff;
    border-radius: 20px;


}