.admin-bg{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Jockey One;

}

.form-admin{
    background-color: aliceblue;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    border-radius: 20px;
}

.form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-item>input{
    width: 300px;
    border-radius: 20px;
    padding: 2%;
}

.giris-yap-btn{
    background-color: #00A611;
    width: 300px;
    border: 1px solid #00A611;
    font-size: 20px;
    height: 40px;
    color: #fff;
    border-radius: 20px;


}